apps/n8n/workflows/data_change_alert.json
{
  "name": "data_change_alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-change",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "data-change-alert"
    },
    {
      "parameters": {
        "jsCode": "// Extract the change event fields\nconst body = $input.first().json;\nreturn [{\n  json: {\n    source: body.source || 'unknown',\n    change_summary: body.change_summary || 'A data change was detected',\n    user_id: body.user_id || $env.ALERT_USER_ID,\n    question: `A change was detected in ${body.source || 'your data'}. ${body.change_summary || ''}. What insights can you provide about this change?`\n  }\n}];"
      },
      "id": "build-question",
      "name": "Build Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_URL }}/v1/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-User-Id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "query-agent",
      "name": "Query BI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, answer: $json.final_answer }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ALERT_FROM_EMAIL }}",
        "toEmail": "={{ $env.ALERT_TO_EMAIL }}",
        "subject": "BI Alert: Data change in {{ $('Build Question').item.json.source }}",
        "text": "={{ $json.final_answer }}",
        "options": {}
      },
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Build Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Question": {
      "main": [
        [
          {
            "node": "Query BI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query BI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
