apps/n8n/workflows/scheduled_report.json
{
  "name": "scheduled_report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_URL }}/v1/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-User-Id",
              "value": "={{ $env.REPORT_USER_ID }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $env.REPORT_QUESTION }}"
            }
          ]
        },
        "options": {}
      },
      "id": "query-agent",
      "name": "Query BI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.REPORT_FROM_EMAIL }}",
        "toEmail": "={{ $env.REPORT_TO_EMAIL }}",
        "subject": "BI Agent Weekly Report — {{ $now.format('yyyy-MM-dd') }}",
        "text": "={{ $json.final_answer }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query BI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query BI Agent": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
